.input-group {
  margin-bottom: 10px;
  .input-group-text {
    transition: border-color 0.15s linear;
    cursor: text;
    input[type="checkbox"],
    input[type="radio"],
    button {
      cursor: pointer;
    }
  }
  .input-group-text:first-child {
    background-color: transparent;
    padding-right: 2px;
  }
  .input-group-text:first-child {
    background-color: transparent;
    border-right: none;
  }
  .input-group-text:last-child {
    background-color: transparent;
    border-left: none;
  }
  .form-control:not(:first-child) {
    border-left: none;
  }
  .form-control:not(:first-child),
  .form-select:not(:first-child) {
    border-left: none;
  }
  .form-control:not(:last-child),
  .form-select:not(:last-child) {
    border-right: none;
  }
}
.input-group:focus-within {
  .input-group-text {
    border-width: 2px;
    border-color: $primary !important;
    transition: border-color 0.15s linear;
    color: $primary;
  }
}
