@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?pukzkp");
  src: url("../fonts/icomoon.eot?pukzkp#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?pukzkp") format("truetype"),
    url("../fonts/icomoon.woff?pukzkp") format("woff"),
    url("../fonts/icomoon.svg?pukzkp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ims-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font: normal normal normal 1em/1 "icomoon";
  vertical-align: middle;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-icon-detail {
  text-align: center;
  padding: 45px 0 30px;
  border: 1px solid #e44cc4;
  border-radius: 0.1875rem;
  margin: 15px 0;
  min-height: 168px;
}

.font-icon-detail i {
  color: #ffffff;
  font-size: 1.5em;
}

.font-icon-detail p {
  color: #e44cc4 !important;
  margin-top: 30px;
  padding: 0 10px;
  font-size: 0.7142em;
}

/*------------------------
  change icon size
-------------------------*/

.ims-icons-sm {
  font-size: 0.8em;
}

.ims-icons-lg {
  font-size: 1.2em;
}

/* absolute units */

.ims-icons-16 {
  font-size: 16px;
}

.ims-icons-32 {
  font-size: 32px;
}

/*----------------------------------
  add a square/circle background
-----------------------------------*/

.ims-icons-bg-square,
.ims-icons-bg-circle {
  padding: 0.35em;
}

.ims-icons-bg-circle {
  border-radius: 50%;
}

/*------------------------
  list icons
-------------------------*/

/*------------------------
  spinning icons
-------------------------*/

.ims-icons-is-spinning {
  -webkit-animation: ims-icons-spin 2s infinite linear;
  -moz-animation: ims-icons-spin 2s infinite linear;
  animation: ims-icons-spin 2s infinite linear;
}

@-webkit-keyframes ims-icons-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes ims-icons-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes ims-icons-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.icon-next-management-review:before {
  content: "\e92a";
  color: #fff;
}
.icon-active-campaign-regular:before {
  content: "\e900";
  color: #fff;
}
.icon-audit-regular:before {
  content: "\e901";
}
.icon-average-contract-regular:before {
  content: "\e902";
  color: #fff;
}
.icon-business-units-regular:before {
  content: "\e903";
  color: #fff;
}
.icon-calendar-regular:before {
  content: "\e904";
}
.icon-clock-in-regular:before {
  content: "\e905";
}
.icon-closed-campaign-regular:before {
  content: "\e906";
  color: #fff;
}
.icon-compliance-bodies-regular:before {
  content: "\e907";
  color: #fff;
}
.icon-contineual-improvement-regular:before {
  content: "\e908";
}
.icon-crm-regular:before {
  content: "\e909";
}
.icon-customer-engaged-regular:before {
  content: "\e90a";
  color: #fff;
}
.icon-dashboard-regular:before {
  content: "\e90b";
}
.icon-document-management-regular:before {
  content: "\e90c";
}
.icon-ending-contract-regular:before {
  content: "\e90d";
  color: #fff;
}
.icon-hazardous-regular:before {
  content: "\e90e";
  color: #fff;
}
.icon-highest-contract-regular:before {
  content: "\e90f";
  color: #fff;
}
.icon-ihr-regular:before {
  content: "\e910";
}
.icon-incident-management-regular:before {
  content: "\e911";
}
.icon-inventory-regular:before {
  content: "\e912";
}
.icon-latest-campaign-regular:before {
  content: "\e913";
  color: #fff;
}
.icon-lowest-contract-regular:before {
  content: "\e914";
  color: #fff;
}
.icon-management-review-regular:before {
  content: "\e915";
}
.icon-next-date-regular:before {
  content: "\e916";
  color: #fff;
}
.icon-notification-regular:before {
  content: "\e917";
}
.icon-organisation-regular:before {
  content: "\e918";
  color: #fff;
}
.icon-our-ims-regular:before {
  content: "\e919";
}
.icon-remote-staff-regular:before {
  content: "\e91a";
  color: #fff;
}
.icon-report-an-issue-regular:before {
  content: "\e91b";
}
.icon-report-send-regular:before {
  content: "\e91c";
}
.icon-risk-management-regular:before {
  content: "\e91d";
}
.icon-staff-regular:before {
  content: "\e924";
  color: #fff;
}
.icon-started-contract-regular:before {
  content: "\e925";
  color: #fff;
}
.icon-supply-regular:before {
  content: "\e926";
}
.icon-task-management-regular:before {
  content: "\e927";
}
.icon-total-contract-regular:before {
  content: "\e928";
  color: #fff;
}
.icon-total-interaction-regular:before {
  content: "\e929";
  color: #fff;
}

