%card-stats {
  hr {
    margin: 5px 15px;
  }
}

.card-stats {
  @extend %card-stats;

  .info-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;

    i {
      color: $white;
      font-size: 2.5em;
      padding: 8px 0px;
    }

    &.icon-danger {
      background-color: $info !important;
    }

    &.icon-warning {
      background-color: $info !important;
    }

    &.icon-success {
      background-color: $info !important;
    }

    &.icon-info {
      background-color: $info !important;
    }

    &.icon-primary {
      background-color: $info !important;
    }
  }

  .numbers {
    text-align: right;
    .card-title {
      margin-top: 0;
    }
    .card-category {
      margin-bottom: 0;
      color: $type-medium;
    }
  }

  .card-footer {
    padding: 0;
  }

  hr {
    border-color: lighten($black, 5%);
  }

  .stats {
    color: rgba($white, 0.6);
    margin: 10px 15px;
    font-size: 0.9em;
  }

  &.card-white {
    hr {
      border-color: rgba(43, 53, 83, 0.2);
    }
  }
}

@include media-breakpoint-down(sm) {
  .card-stats [class*="col-"] .statistics::after {
    display: none;
  }
}
