.pagination {
  .page-item {
    .page-link {
      font-size: 0.9rem;
      background-color: transparent;
      color: $gray-600;
      border: none;
    }
  }
  .page-item.active {
    .page-link {
      color: $primary;
    }
    .page-link:hover {
      color: $primary;
    }
    .page-link:focus {
      color: $primary;
    }
    .page-link:active {
      color: $primary;
    }
  }
}
.pagination-separated {
  .pagination {
    .page-item {
      margin-left: 3px;
      margin-right: 3px;
      .page-link {
        border-radius: 5px;
      }
    }
  }
}
