.pagination {
  .page-item {
    .page-link {
      border: 1px solid $stroke-light;
    }
  }
  .page-item.active {
    .page-link {
      border: 1px solid transparent;
    }
    .page-link:hover {
      border: 1px solid transparent;
      background-color: $primary;
      color: $white;
    }
    .page-link:focus {
      border: 1px solid transparent;
      background-color: $primary;
      color: $white;
    }
    .page-link:active {
      border: 1px solid transparent;
      background-color: $primary;
      color: $white;
    }
  }
}
.pagination-separated {
  .pagination {
    .page-item {
      margin-left: 3px;
      margin-right: 3px;
      .page-link {
        border-radius: 5px;
      }
    }
  }
}
