.table {
  > thead {
    color: $type-dark !important;
  }
  > tbody > tr {
    cursor: pointer;
  }
}
.table-striped > tbody > tr.table-active > * {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: $table-active-color;
}
tr.table-active {
  .dropdown > button {
    color: $white;
    background-color: transparent;
  }
}
.table-linear {
  &.table {
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    th,
    td {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: 0.3s ease;
      flex: 150 0 auto;
      min-width: 0px;
      max-width: 250px;
      vertical-align: middle;
      &:last-child {
        text-align: right;
        overflow: visible;
      }
    }
  }
}
.table-actions {
  height: 2rem !important;
  width: 2rem !important;
}
